.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, rgba(255, 255, 255, 0.27), rgb(227, 227, 227));
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-padding: 0 0 0px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 20;
    -fx-font-weight: bold;
}


.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 15;
    -fx-font-weight: bold;
}
.table-row-cell:hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color: #e08f22;
}

.table-row-cell:focused {
    -fx-text-background-color: #e08f22;
}

.table-row-cell:odd{
    -fx-background-color: rgba(45, 45, 45, 0.07);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: rgba(184, 187, 187, 0.07);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, rgba(28, 27, 27, 0.27), rgba(97, 97, 97, 0.27));
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, rgba(28, 27, 27, 0.27), rgba(97, 97, 97, 0.27));
}