@font-face {
    src: url("../fonts/AmaticSC-Bold.ttf");
}

@font-face {
    src: url("../fonts/AmaticSC-Regular.ttf");
}

#timeLeftText, #pointsGainedText, #question, #jokersText, #score {
    -fx-font-family: "Amatic SC";
    -fx-font-size: 40;
}

#answerBonusText, #timeBonusText, #typeAnswer, #choice1, #choice2, #choice3 {
    -fx-font-family: "Amatic SC";
    -fx-font-size: 25;
}

