.scroll-bar:vertical,
.scroll-bar:vertical .track,
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal,
.scroll-bar:horizontal .track,
.scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.scroll-bar:vertical .thumb {
    -fx-background-color:  linear-gradient(to bottom, rgba(28, 27, 27, 0.27), rgba(97, 97, 97, 0.27));
}

.scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to bottom, rgba(59, 59, 59, 0.27), rgba(121, 121, 121, 0.27));
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.scroll-pane .corner {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-radius: 3;
}